# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
*.egg-info/
*.egg
dist/
build/
.eggs/

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# folders
.claude/
tests/